@font-face {
  font-family: 'gycso';
  src:  url('fonts/gycso.eot?dzzdoc');
  src:  url('fonts/gycso.eot?dzzdoc#iefix') format('embedded-opentype'),
    url('fonts/gycso.ttf?dzzdoc') format('truetype'),
    url('fonts/gycso.woff?dzzdoc') format('woff'),
    url('fonts/gycso.svg?dzzdoc#gycso') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-gycso-"], [class*=" icon-gycso-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gycso' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gycso-person:before {
  content: "\e902";
}
.icon-gycso-engranaje:before {
  content: "\e903";
}
.icon-gycso-portafolio:before {
  content: "\e904";
}
.icon-gycso-candado:before {
  content: "\e905";
}
.icon-gycso-pluma:before {
  content: "\e900";
}
.icon-gycso-card-info:before {
  content: "\e901";
}
.icon-gycso-torniquete:before {
  content: "\e90a";
}
.icon-gycso-video-camara:before {
  content: "\e90b";
}
